---
layout: default
---

<!-- POSTS SECTION -->
<section id="posts">

    <h1 class="px-4 pt-5"><a href="/posts.html" class="text-dark">Posts</a></h1>
    <!-- BEGIN ROW -->
    <div class="row px-4">
        <!-- BEGIN POSTS LOOP -->
        {% for post in site.posts %}

            <!-- BEGIN COLUMN -->    
            <div class="col-md-6 col-lg-4 py-3">                
                <!-- BEGIN CARD-->
                <div class="card mb-4 shadow-sm">

                    <!-- IMAGE & HEADER-->
                    {% if post.thumbnail %}
                        <img class="card-img-top img-thumbnail" src="{{ post.thumbnail }}" />
                    {% endif %}
                    <div class="card-header bg-white">
                        <h4 class="text-dark"><a class="text-dark" href="{{ post.url }}">{{ post.title }}</a></h4>
                    </div>
                    <div class="hr-white"></div>

                    <!-- CARD BODY -->
                    <div class="card-body bg-white">
                        <!-- BLURB -->
                        <p class="card-text">{{ post.excerpt | truncate: 120 }}</p>
                        <!-- READ BUTTON -->
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ post.url }}">
                                    <button type="button" class="btn btn-sm btn-primary slab">Read</button>
                                </a>
                            </div>
                        </div>
                    </div>


                </div>
                <!-- END CARD -->
            </div>
            <!-- END COLUMN -->  

        {% endfor %}
        <!-- END POSTS LOOP -->
    </div>
    <!-- END ROW -->
</section>
<!-- END POSTS SECTION -->









<!-- PROJECTS SECTION -->
<section id="projects">
        

<!-- BEGIN ROW -->
<div class="row">
<h1>Projects</h1>

    <div class="col col-12 col-md-6 col-md-4 py-3"></div>
    <div class="col col-12 col-md-6 col-md-4 py-3"></div>
    <div class="col col-12 col-md-6 col-md-4 py-3"></div>
    <div class="col col-12 col-md-6 col-md-4 py-3 d-none d-sm-inline-flex"></div>
    <div class="col col-12 col-md-6 col-md-4 py-3 d-none d-sm-inline-flex"></div>
    <div class="col col-12 col-md-6 col-md-4 py-3 d-none d-sm-inline-flex"></div>

</div>
<!-- END ROW -->

</section>
<!-- END PROJECTS SECTION -->