<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>David E. Lambert | Data Analysis, Data Visualization, Graphic Design </title>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Montserrat:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Zilla+Slab:ital,wght@0,300;0,400;0,600;1,300;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/highlight.css">
</head>






<body>


    <!-- HEADER -->
    <header>

        <!-- COLLAPSED HEADER & TOGGLER -->
        <div class="navbar navbar-light">
            <div class="container d-flex">
                <a class="navbar-brand slab px-0 text-dark">David E. Lambert</a>
                <button id="toggler" class="btn navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#mainNav" aria-controls="mainNav" aria-expaned="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>


        <!-- EXPANDED NAV MENU/BIO -->
        <div id="mainNav" class="collapse bg-light">
            <div class="hr-light"></div>
            <div class="container">
                <div class="row">


                    <!-- TAG/BIO FOR LARGE SCREENS -->
                    <div class="col d-none d-md-inline-block col-md-10 py-4 pl-4 pl-lg-5 text-dark">
                        <h5>
                            Data Analysis // Data Visualization // Graphic Design
                        </h5>
                        <p>

                        </p>
                    </div>

                    <!-- TAG ONLY FOR SMALLER SCREENS -->
                    <div class="col d-md-none col-6 py-4 pl-5 text-dark">
                        <h5 class="text-dark">
                            Data Analysis<br />
                            Data Visualization<br />
                            Graphic Design
                        </h5>
                    </div>

                    <!-- NAV MENU -->
                    <div class="col d-inline-block py-4 mr-4 mr-lg-5">
                        <h5 class="text-right text-dark">Menu</h5>
                        <ul class="list-unstyled text-right">
                            <li>
                                <a href="/" class="menu-link">Home</a>
                            </li>
                            <li>
                                <a href="/#" class="menu-link">Projects</a>
                            </li>
                            <li>
                                <a href="/#" class="menu-link">Portfolio</a>
                            </li>
                            <li>
                                <a href="/posts.html" class="menu-link">Posts</a>
                            </li>
                            <li>
                                <a href="/#" class="menu-link">About</a>
                            </li>
                            <li>
                                <a href="/#" class="menu-link">Contact</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- END ROW -->

            </div>
            <!-- END CONTAINER -->

        </div>
        <!-- END EXPANDED NAV/BIO -->
    <div class="hr-light"></div>
    </header>